@import "../Global.css";

.header {
    display: flex;
    top: 0;
    position: sticky;
    width: 100%;
    height: auto;
    background-color: var(--color-black);
    align-items: center;
    justify-content: center;
    z-index: 1000;
    border-bottom: 1px solid var(--color-gray);
}

    .navbar {
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        list-style: none;
        color: var(--color-white);
        font-family: var(--font-special-elite);
        padding: 2rem 0 2rem;
        gap: 4.5rem;
    }

        .navbar-item {
            display: flex;
            height: auto;
            align-items: center;
            font-size: 18px;
            cursor: url("../../img/Pointer.png"), auto;
            transition: .2s ease-in-out;
            text-decoration: none;
            color: var(--color-white);
        }

            .navbar-item:hover {
                color: var(--color-light-purple);
                transition: .2s ease-in;
            }

            .navbar-item img {
                width: 200px;
            }

        .navbar-item-menu {
            display: none;
        }
    
    .navbar-mobile {
        display: none;
    }

/* Responsive 1440px */
@media screen and (max-width: 1440px) {
    .navbar-item img {
        width: 180px;
    }

    .navbar-item {
        font-size: 17px;
    }
}

/* Responsive 1024px */
@media screen and (max-width: 1024px) {
    .navbar {
        width: 80%;
        justify-content: space-between;
    }

    .navbar-item img {
        width: 140px;
    }

    .navbar-item {
        display: none;
    }

    .navbar-item-img,
    .navbar-item-menu {
        display: flex;
    }

    .btn-menu {
        display: flex;
        width: auto;
        height: auto;
        padding: 1rem;
        background: transparent;
        cursor: url("../../img/Pointer.png"), auto;
        border: none;
    }

        .btn-menu svg {
            width: 25px;
            height: 25px;
            color: var(--color-white) !important;
        }

    .navbar-mobile {
        display: flex;
        width: 25%;
        min-width: 250px;
        height: -webkit-fill-available;
        position: fixed;
        top: 7.55rem;
        left: 0;
        background-color: var(--color-black);
        border: 1px solid var(--color-gray);
        border-left: none;
        list-style: none;
        color: var(--color-white);
        font-family: var(--font-raleway);
        flex-direction: column;
        padding: 2rem;
        gap: 1rem;
        transform: translateX(-100%);
        opacity: 0;
        overflow: auto;
        transition: .3s;
    }

    .navbar-mobile.active {
        display: flex;
        transform: translate(0) !important;
        opacity: 1;
    }

        .navbar-mobile h2 {
            margin-bottom: 10px;
        }

        .navbar-mobile-item {
            display: flex;
            font-size: 17px;
            cursor: url("../../img/Pointer.png"), auto;
            color: var(--color-white);
            text-decoration: none;
            font-weight: 500;
        }
}

/* Responsive 425px */
@media screen and (max-width: 425px) {
    .navbar-mobile {
        min-width: 240px;
    }
}